Repository paddymorgan84/fpl: changes, and which lint-staged commands are due for each by the changed paths.
All: make lint-markdown, make spell-check, make update-toc, make vet, make lint-go, make security, make build, make test

.lintstagedrc:

{
  "*.md": [
    "make lint-markdown",
    "make spell-check",
    "make update-toc"
  ],
  "*.go": [
    "make vet",
    "make lint-go",
    "make security",
    "make build",
    "make test"
  ]
}

Add testing to GitHub action
  .github/workflows/fpl.yml
Due: none

Fix issue with vet - need mocks to be generated first
  Makefile
Due: none

Fix go report badge
  README.md
Due: make lint-markdown, make spell-check, make update-toc

Add npm to dependabot
  .github/dependabot.yml
Due: none

Update to Go 1.17
  README.md
  go.mod
Due: make lint-markdown, make spell-check, make update-toc

Add a Dockerfile (Fixes #12)
  .spelling
  Dockerfile
  README.md
Due: make lint-markdown, make spell-check, make update-toc

Get full coverage on details command
  cmd/details.go
  cmd/details_test.go
  cmd/fixtures.go
  cmd/fixtures_test.go
  cmd/history.go
  cmd/history_test.go
  cmd/points.go
  cmd/points_test.go
  cmd/rivals.go
  cmd/rivals_test.go
  cmd/root.go
  helpers/teams.go
  helpers/teams_test.go
  ui/ui.go
Due: make vet, make lint-go, make security, make build, make test

Get full coverage on fixtures command
  cmd/fixtures.go
  cmd/fixtures_test.go
  cmd/points.go
  cmd/points_test.go
  cmd/rivals.go
  cmd/rivals_test.go
  cmd/root.go
  helpers/gameweeks.go
  helpers/gameweeks_test.go
Due: make vet, make lint-go, make security, make build, make test

Get full coverage on history command
  cmd/history_test.go
Due: make vet, make lint-go, make security, make build, make test

Get full coverage on points command
  cmd/points_test.go
Due: make vet, make lint-go, make security, make build, make test

Get full coverage on rivals command
  cmd/rivals.go
  cmd/rivals_test.go
  ui/ui.go
Due: make vet, make lint-go, make security, make build, make test

Add a build matrix to cover later go versions
  .github/workflows/fpl.yml
Due: none

Fix incorrect Go version in build matrix
  .github/workflows/fpl.yml
Due: none

Update to Go 1.18
  Makefile
  go.mod
Due: none

Correct pre-requisites: fpl can be built on Go 1.16
  README.md
Due: make lint-markdown, make spell-check, make update-toc

Fix security issue around use of defer
  api/fpl.go
Due: make vet, make lint-go, make security, make build, make test

Don't fail fast on action workflow
  .github/workflows/fpl.yml
Due: none

Bump minimum Go version to 1.18
  .github/workflows/fpl.yml
  README.md
Due: make lint-markdown, make spell-check, make update-toc
